<a href="https://colab.research.google.com/github/zach111604-star/MIS-2800/blob/main/AFC_North_APPG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [4]:
#create AFC_North_APPG.db in temporary Colab local storage
conn = sqlite3.connect('AFC_North_APPG.db')

# Create a STRICT TABLE

In [5]:
#define a structure for the data table
conn.execute('''
CREATE TABLE AFC_North_APPG(
  team_name TEXT PRIMARY KEY NOT NULL,
  city TEXT,
  average_ppg REAL,
  wins_2025 INTEGER,
  losses_2025 INTEGER)
  STRICT;
''')

# Add Team Stats

In [14]:
#adding team stats
conn.execute('''
INSERT OR REPLACE INTO AFC_North_APPG (team_name, city, average_ppg, wins_2025, losses_2025)
VALUES ('Steelers', 'Pittsburgh', 23.4, 10, 7),
('Ravens', 'Baltimore', 24.9, 8, 9),
('Bengals', 'Cincinnati', 24.4, 6, 11),
('Browns', 'Cleveland', 16.4, 5, 12);
''')

#Filtering Teams

In [15]:
#slicing the data to show only specific teams
query = "SELECT * FROM AFC_North_APPG WHERE average_ppg > 20"
results = conn.execute(query)
for row in results:
  print(row)

('Steelers', 'Pittsburgh', 23.4, 10, 7)
('Ravens', 'Baltimore', 24.9, 8, 9)
('Bengals', 'Cincinnati', 24.4, 6, 11)

# Sorting Data

In [16]:
#sort numerically for highest to lowest based on wins
query = "SELECT team_name, wins_2025 FROM AFC_North_APPG ORDER BY wins_2025 DESC"
for row in conn.execute(query):
  print(row)

('Steelers', 10)
('Ravens', 8)
('Bengals', 6)
('Browns', 5)